.card {
  display: flex;
  background-color: #101010;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-image {
  padding: 10px;
}
.card-content {
  padding-left: 10px;
  text-align: left;
}
.card-content p {
  margin-top: 5px;
  color: #fff;
}
