* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #292929;
  min-height: 100vh;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: #101010;
  color: #fff;
  padding: 0 10px;
}
.user {
  display: flex;
  align-items: center;
}
.user p {
  margin: 0 10px;
  padding: 20px 0;
}
.user-image {
  width: 50px;
  height: 50px;
}
.image {
  border-radius: 50%;
}
.filter-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.filter-content {
  display: flex;
  flex-direction: row;
}
.filter-content p {
  margin: 0 10px;
  color: #fff;
}
.filter {
  background-color: #101010;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
  position: relative;
  left: -15px;
  transition: 0.3s ease;
}
.filter.active {
  transition: 0.3s ease;
  left: -10px;
}
.filter-icon {
  display: flex;
  color: #fff;
}
.filter-drop {
  position: relative;
  display: flex;
  flex-direction: row;
}

.dropdown1,
.dropdown2 {
  margin: 0px 5px;

  width: 100px;
  background-color: #292929;
  color: #fff;
  border: none;
}
.link {
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.3rem;
  color: #fff;
}
@media screen and (max-width: 728px) {
  .filter-menu {
    flex-direction: column;
  }
  .filter {
    margin-top: 10px;
  }
}
